@import "tailwindcss";



@theme {

  --font-heading: "Roboto", sans-serif;
  --font-body: "Open Sans", sans-serif;

  --color-green-900: #2A2725;
  --color-green-800: #324934;
  --color-green-700: #466D49;
  --color-green-500: #598D5D;
  --color-green-200: #73A677;

  --color-white-400: #919591;
  --color-white-300: #E3E7EB;
  --color-white-200: #D3D4D3;
  --color-white-100: #E6E7E6;
      
        
          

  --color-neutral-100: #F6F2F1;
  --color-neutral-200: #DACBB0;
  --color-neutral-300: #C9B48E;
  
  --color-secondary-100: #EAE2D3;
  --color-secondary-200: #B2B59C;

  --color-danger: #E74C3C;
  --color-sand: #AE8F60;
  --color-coffe: #4C3D19;

--color-text-primary: #D9D0C7;
  --color-text-secondary: #B8AFA6;
  --color-text-tertiary: #F6F2F1;

}

html,
body {
  font-family: "Open Sans", sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.heading-font {
  font-family: var(--font-heading);
}

.body-font {
  font-family: var(--font-body);
}